header {
    background-image: linear-gradient(to bottom right, blue, black);
    height: auto;
}

header h1 {
    font-family: fantasy;
    font-size: 200%;
    margin-left: 25px;
    background-color: silver;
    padding-top: 25px;
    padding-left: 25px;
    border: 1px solid white;
    display: inline-block;
}

header a {
    color: white;
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: right;
    padding: 5px;
}

header li {
    margin: 0 10px;
}

section {
    display: flex;
    
}

section h2 {
    font-size: 300%;
    display: inline-block;
    border-right: 5px solid black;
}